* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#heading {
    padding-bottom: 50px;
}

#searchField {
    padding-bottom: 50px;
}

#searchText {
    border-radius: 2px rounded;
    margin: 0 100px;
}

#submitButton {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 5px;
}

/*  NBA Predefined Buttons for each team */
button.btn.btn-secondary {
    padding: 10px;
    margin: 10px;
}
/*  NBA Predefined Buttons for each team */

#nbaTags {
    padding-bottom: 50px;
    text-align: center;
}

#giphyContent {
    margin-bottom: 40px;
}



button#addCategoryButton.btn.btn-primary.btn-lg {
    margin-top: 20px;
    margin-bottom: 50px;
}

#categoryHeading {
    overflow: hidden;
    margin-bottom: 30px;
}


#userCategories {
    margin: 45px;
}

#userCategoriesHeading {
    margin: 15px;
    overflow: hidden;
}

#flashMessage {
    color: white;
    background-color: #0072ff;
    padding: 15px;
    border-radius: 5px;
    width: calc(100% - 100px);
    margin: 20px 0; 
}

.team-select {
    background: 
}